@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#instructions {
  margin: 25px 0px;
}

.menu {
  margin: 20px 0px;
}

.new {
  margin: 25px 0px;
}

.join {
  margin-top: 25px;
}

#msg {
  margin-top:4px;
}

.container {
  text-align: center;
}

body {
  font-family: 'Comic Neue', cursive;
  line-height: 1.6;
}

header {
  text-align: center;
  margin: 10px auto;
  padding: 0 10px;
}

.rock {
  color: #ff6b6b;
}

.paper {
  color: #86b1f6;
}

.scissors {
  color: #feca57;
}

.spock {
  color: #dcacea;
}

.lizard {
  color: #9ce1a1;
}
